<!DOCTYPE html>
<html>
  <head>
    <title>LairBnB</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_MAP_KEY"]}" %>
    <link rel="icon"
      type="image/png"
      href="https://static.trendme.net/temp/thumbs/580-480-3-90/webmaster-BurningletterL_Texts_full_2251_104053.png" />


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
